# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Editors
.vscode
.project
.zed
.vs

# Lanugage server config. Includes system paths, therefore gitignore'd
.clangd

# Build directory
build

# C++ objects and libs
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib


# CMake

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
CMakeSettings.json
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

.cache

# Self-hosted tool cache
.aider*